<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        
      <h2 class="title is-2">Edita tu perfil</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

          <div class="field">
            <div class="control">
              <%= f.input :email, required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password, label: "Nueva contrase単a", autocomplete: "off", hint: "Dejar en blanco si no desea cambiarla", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
            <%= f.input :password_confirmation, label: "Confirmar nueva contrase単a", required: false, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :current_password, label: "Contrase単a actual", hint: "Necesitamos su contrase単a actual para confirmar los cambios", required: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
            </div>
        </div>
   
        <%= f.button :submit, "Actualizar", class:"button is-info" %>
     
      <% end %>

        <hr />
        <h3 class="title is-5">Cancelar mi cuenta</h3>
        <p>No le gusta el blog? <%= link_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
   
      </div>
    </div>
  </div>
</section>